In [19]:
import pandas as pd
from sqlalchemy import create_engine

In [20]:
mlb = pd.read_csv("all_clean_statcast.csv", low_memory = False)

pd.set_option('display.max_columns', 500)

In [21]:

mlb
date_1 = mlb[~mlb.game_date.str.contains("/")]
date_1['game_date'].unique()
date_2 = mlb[~mlb.game_date.str.contains("-")]
date_2['game_date'].unique()
mlb.head()
len(mlb)

721190

In [22]:
from datetime import date
from datetime import datetime
import numpy as np
date = date_1.loc[:,'game_date'].str.split("-",expand = True)

date[0] = date[0].astype(str).astype(np.int64)
date[1] = date[1].astype(str).astype(np.int64)
date[2] = date[2].astype(str).astype(np.int64)
date = date.rename(columns={1: "month", 2: "day",0:"year"})
date["game_date_fix"] = pd.to_datetime(date[['day','month','year']])
#date = date.drop(labels='game_date',axis=1)
#date_cleaned = date_2.join(date, lsuffix="_b")
date_cleaned = date_1.merge(date, how='left',left_index=True,right_index=True)




date_alt = date_2.loc[:,'game_date'].str.split("/",expand = True)

date_alt[0] = date_alt[0].astype(str).astype(np.int64)
date_alt[1] = date_alt[1].astype(str).astype(np.int64)
date[2] = date_alt[2].astype(str).astype(np.int64)
date_alt = date_alt.rename(columns={0: "month", 1: "day",2:"year"})
date_alt["game_date_fix"] = pd.to_datetime(date_alt[['day','month','year']])
#date = date.drop(labels='game_date',axis=1)
#date_cleaned = date_2.join(date, lsuffix="_b")
date_alt_cleaned = date_2.merge(date_alt, how='left',left_index=True,right_index=True)

len(date_alt_cleaned)

48583

In [23]:
# fixing data for sql data base. converting columns back to nan instead of values

mlb_date_clean = pd.concat([date_cleaned,date_alt_cleaned], sort=False)
len(mlb_date_clean)

721190

In [24]:
mlb_date_clean.head(2)

,pitch_type,game_date,release_speed,release_pos_x,release_pos_z,player_name,pitcher,events,description,zone,description.1,game_type,stand,p_throws,home_team,away_team,type,hit_location,bb_type,balls,strikes,game_year,pfx_x,pfx_z,plate_x,plate_z,on_3b,on_2b,on_1b,outs_when_up,inning,inning_topbot,hc_x,hc_y,fielder_2,sv_id,vx0,vy0,vz0,ax,ay,az,sz_top,sz_bot,hit_distance_sc,launch_speed,launch_angle,effective_speed,release_spin_rate,release_extension,game_pk,pitcher.1,fielder_2.1,fielder_3,fielder_4,fielder_5,fielder_6,fielder_7,fielder_8,fielder_9,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number,pitch_name,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,bat_team,pitch_team,batter_id,batter_name,year,month,day,game_date_fix
0,FF,2018-09-30,88.8,-1.6034,6.8141,Parker Bridwell,592170,field_out,hit_into_play,5.0,"Mark Canha grounds out, third baseman Taylor W...",R,R,R,LAA,OAK,X,5.0,ground_ball,0,0,2018,-0.6262,1.5243,-0.2405,2.7571,Vacant,Vacant,Vacant,2,9,Top,98.66,163.42,516472.0,180930_214100,4.5405,-128.9477,-6.8164,-7.7813,28.8214,-14.4520,3.467,1.589,4.0,61.0,-35.0,87.242,2435.0,5.590,531832,592170,516472.0,527043.0,582473.0,621493.0,592230.0,458913.0,641684.0,518466.0,54.9098,0.058,0.044,0.0,1.0,0.0,0.0,2.0,63,1,4-Seam Fastball,2,4,4,2,4,2,4,2,Standard,Standard,OAK,LAA,592192,Mark Canha,2018,9,30,2018-09-30
1,FF,2018-09-30,91.1,-1.5852,6.7128,Parker Bridwell,592170,field_out,hit_into_play,13.0,Franklin Barreto pops out to shortstop Kaleb C...,R,R,R,LAA,OAK,X,6.0,popup,2,2,2018,-0.6568,1.5896,-0.8574,2.3210,Vacant,Vacant,Vacant,1,9,Top,93.82,122.84,516472.0,180930_214031,3.1474,-132.1923,-8.2514,-8.1771,30.0487,-12.5102,3.301,1.504,199.0,93.5,61.0,89.459,2457.0,5.584,531832,592170,516472.0,527043.0,582473.0,621493.0,592230.0,458913.0,641684.0,518466.0,54.9157,0.008,0.008,0.0,1.0,0.0,0.0,3.0,62,5,4-Seam Fastball,2,4,4,2,4,2,4,2,NaN,NaN,OAK,LAA,620439,Franklin Barreto,2018,9,30,2018-09-30

In [25]:
mlb_date_clean = mlb_date_clean.rename(columns={"description.1": "full_description"})
#date_1.info
mlb_date_clean.loc[:,'of_fielding_alignment'] = mlb_date_clean.loc[:,'of_fielding_alignment'].fillna("Unknown")
mlb_date_clean.loc[:,'if_fielding_alignment'] = mlb_date_clean.loc[:,'if_fielding_alignment'].fillna("Unknown")
mlb_date_clean.loc[:,'bb_type'] = mlb_date_clean.loc[:,'bb_type'].fillna("no_result")
mlb_date_clean.loc[:,'description'] = mlb_date_clean.loc[:,'description'].fillna("no_result")
mlb_date_clean.loc[:,'full_description'] = mlb_date_clean.loc[:,'full_description'].fillna("no_result")
mlb_date_clean.loc[:,'events'] = mlb_date_clean.loc[:,'events'].fillna("no_result")


mlb_date_clean['balls'] = mlb_date_clean['balls'].replace(4, np.nan)
mlb_date_clean['balls'] = mlb_date_clean['balls'].replace(5, np.nan)
mlb_date_clean = mlb_date_clean.drop(columns=['game_date'])
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_row', 1000)
mlb_date_clean.head()

mlb_date_clean['strikes'].value_counts()
#len(bb)
mlb_date_clean.head()

,pitch_type,release_speed,release_pos_x,release_pos_z,player_name,pitcher,events,description,zone,full_description,game_type,stand,p_throws,home_team,away_team,type,hit_location,bb_type,balls,strikes,game_year,pfx_x,pfx_z,plate_x,plate_z,on_3b,on_2b,on_1b,outs_when_up,inning,inning_topbot,hc_x,hc_y,fielder_2,sv_id,vx0,vy0,vz0,ax,ay,az,sz_top,sz_bot,hit_distance_sc,launch_speed,launch_angle,effective_speed,release_spin_rate,release_extension,game_pk,pitcher.1,fielder_2.1,fielder_3,fielder_4,fielder_5,fielder_6,fielder_7,fielder_8,fielder_9,release_pos_y,estimated_ba_using_speedangle,estimated_woba_using_speedangle,woba_value,woba_denom,babip_value,iso_value,launch_speed_angle,at_bat_number,pitch_number,pitch_name,home_score,away_score,bat_score,fld_score,post_away_score,post_home_score,post_bat_score,post_fld_score,if_fielding_alignment,of_fielding_alignment,bat_team,pitch_team,batter_id,batter_name,year,month,day,game_date_fix
0,FF,88.8,-1.6034,6.8141,Parker Bridwell,592170,field_out,hit_into_play,5.0,"Mark Canha grounds out, third baseman Taylor W...",R,R,R,LAA,OAK,X,5.0,ground_ball,0.0,0,2018,-0.6262,1.5243,-0.2405,2.7571,Vacant,Vacant,Vacant,2,9,Top,98.66,163.42,516472.0,180930_214100,4.5405,-128.9477,-6.8164,-7.7813,28.8214,-14.4520,3.4670,1.5890,4.0,61.0,-35.0,87.242,2435.0,5.590,531832,592170,516472.0,527043.0,582473.0,621493.0,592230.0,458913.0,641684.0,518466.0,54.9098,0.058,0.044,0.0,1.0,0.0,0.0,2.0,63,1,4-Seam Fastball,2,4,4,2,4,2,4,2,Standard,Standard,OAK,LAA,592192,Mark Canha,2018,9,30,2018-09-30
1,FF,91.1,-1.5852,6.7128,Parker Bridwell,592170,field_out,hit_into_play,13.0,Franklin Barreto pops out to shortstop Kaleb C...,R,R,R,LAA,OAK,X,6.0,popup,2.0,2,2018,-0.6568,1.5896,-0.8574,2.3210,Vacant,Vacant,Vacant,1,9,Top,93.82,122.84,516472.0,180930_214031,3.1474,-132.1923,-8.2514,-8.1771,30.0487,-12.5102,3.3010,1.5040,199.0,93.5,61.0,89.459,2457.0,5.584,531832,592170,516472.0,527043.0,582473.0,621493.0,592230.0,458913.0,641684.0,518466.0,54.9157,0.008,0.008,0.0,1.0,0.0,0.0,3.0,62,5,4-Seam Fastball,2,4,4,2,4,2,4,2,Unknown,Unknown,OAK,LAA,620439,Franklin Barreto,2018,9,30,2018-09-30
2,CH,84.2,-1.7385,6.7809,Parker Bridwell,592170,no_result,ball,13.0,no_result,R,R,R,LAA,OAK,B,NaN,no_result,1.0,2,2018,-1.0069,0.8183,-0.0089,0.5169,Vacant,Vacant,Vacant,1,9,Top,NaN,NaN,516472.0,180930_213956,5.8487,-122.0896,-9.5506,-10.9319,23.1999,-22.6247,3.3780,1.5589,NaN,NaN,NaN,82.920,1450.0,5.557,531832,592170,516472.0,527043.0,582473.0,621493.0,592230.0,458913.0,641684.0,518466.0,54.9423,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62,4,Changeup,2,4,4,2,4,2,4,2,Standard,Standard,OAK,LAA,620439,Franklin Barreto,2018,9,30,2018-09-30
3,FC,89.1,-1.6598,6.6491,Parker Bridwell,592170,no_result,foul,4.0,no_result,R,R,R,LAA,OAK,S,NaN,no_result,1.0,1,2018,-0.0440,1.2437,-0.3059,2.6636,Vacant,Vacant,Vacant,1,9,Top,NaN,NaN,516472.0,180930_213932,3.3880,-129.5434,-6.2649,-1.1985,27.1724,-17.3212,3.3010,1.5040,118.0,73.8,10.0,88.382,2501.0,5.897,531832,592170,516472.0,527043.0,582473.0,621493.0,592230.0,458913.0,641684.0,518466.0,54.6023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62,3,Cutter,2,4,4,2,4,2,4,2,Standard,Standard,OAK,LAA,620439,Franklin Barreto,2018,9,30,2018-09-30
4,CU,79.8,-1.7831,6.6868,Parker Bridwell,592170,no_result,ball,14.0,no_result,R,R,R,LAA,OAK,B,NaN,no_result,0.0,1,2018,0.3753,-0.0491,0.8143,-0.0911,Vacant,Vacant,Vacant,1,9,Top,NaN,NaN,516472.0,180930_213913,4.9302,-115.8090,-7.8685,2.2851,22.6237,-31.3419,3.3523,1.5848,NaN,NaN,NaN,78.074,2837.0,5.324,531832,592170,516472.0,527043.0,582473.0,621493.0,592230.0,458913.0,641684.0,518466.0,55.1756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62,2,Curveball,2,4,4,2,4,2,4,2,Standard,Standard,OAK,LAA,620439,Franklin Barreto,2018,9,30,2018-09-30

Code below is made for running outside of a created environment(e.x "source activate 'enviroment_name'")
*IMPORTANT I deleted the password for privacy issues. When connecting to localhost, password needs to be added. Quotes also need to be deleted below for "password".

In [26]:
# Running outside of environment.
import sqlalchemy
!pip install mysql-python
!pip install mysqlclient
engine = sqlalchemy.create_engine('mysql://root:"password"@localhost') # connect to server
engine.execute("CREATE DATABASE mlb_db") #create db
engine.execute("USE mlb_db") # select new db

Collecting mysql-python
  Using cached https://files.pythonhosted.org/packages/a5/e9/51b544da85a36a68debe7a7091f068d802fc515a3a202652828c73453cad/MySQL-python-1.2.5.zip
Building wheels for collected packages: mysql-python
  Building wheel for mysql-python (setup.py): started
  Building wheel for mysql-python (setup.py): finished with status 'error'
  Complete output from command c:\users\chris\anaconda3\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\Chris\\AppData\\Local\\Temp\\pip-install-awiwvfpz\\mysql-python\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" bdist_wheel -d C:\Users\Chris\AppData\Local\Temp\pip-wheel-zakypbmb --python-tag cp36:
  running bdist_wheel
  running build
  running build_py
  creating build
  creating build\lib.win-amd64-3.6
  copying _mysql_exceptions.py -> build\lib.win-amd64-3.6
  creating build\lib.win-amd64-3.6\MySQLdb
  copying MySQLdb\__init__.py -> build\lib.win-amd64-3.6\MySQLdb
  copying MySQLdb\converters.py -> build\lib.win-amd64-3.6\MySQLdb
  copying MySQLdb\connections.py -> build\lib.win-amd64-3.6\MySQLdb
  copying MySQLdb\cursors.py -> build\lib.win-amd64-3.6\MySQLdb
  copying MySQLdb\release.py -> build\lib.win-amd64-3.6\MySQLdb
  copying MySQLdb\times.py -> build\lib.win-amd64-3.6\MySQLdb
  creating build\lib.win-amd64-3.6\MySQLdb\constants
  copying MySQLdb\constants\__init__.py -> build\lib.win-amd64-3.6\MySQLdb\constants
  copying MySQLdb\constants\CR.py -> build\lib.win-amd64-3.6\MySQLdb\constants
  copying MySQLdb\constants\FIELD_TYPE.py -> build\lib.win-amd64-3.6\MySQLdb\constants
  copying MySQLdb\constants\ER.py -> build\lib.win-amd64-3.6\MySQLdb\constants
  copying MySQLdb\constants\FLAG.py -> build\lib.win-amd64-3.6\MySQLdb\constants
  copying MySQLdb\constants\REFRESH.py -> build\lib.win-amd64-3.6\MySQLdb\constants
  copying MySQLdb\constants\CLIENT.py -> build\lib.win-amd64-3.6\MySQLdb\constants
  running build_ext
  building '_mysql' extension
  error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools

  ----------------------------------------
  Running setup.py clean for mysql-python
Failed to build mysql-python
Installing collected packages: mysql-python
  Running setup.py install for mysql-python: started
    Running setup.py install for mysql-python: finished with status 'error'
    Complete output from command c:\users\chris\anaconda3\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\Chris\\AppData\\Local\\Temp\\pip-install-awiwvfpz\\mysql-python\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record C:\Users\Chris\AppData\Local\Temp\pip-record-8_h5zt5b\install-record.txt --single-version-externally-managed --compile:
    running install
    running build
    running build_py
    creating build
    creating build\lib.win-amd64-3.6
    copying _mysql_exceptions.py -> build\lib.win-amd64-3.6
    creating build\lib.win-amd64-3.6\MySQLdb
    copying MySQLdb\__init__.py -> build\lib.win-amd64-3.6\MySQLdb
    copying MySQLdb\converters.py -> build\lib.win-amd64-3.6\MySQLdb
    copying MySQLdb\connections.py -> build\lib.win-amd64-3.6\MySQLdb
    copying MySQLdb\cursors.py -> build\lib.win-amd64-3.6\MySQLdb
    copying MySQLdb\release.py -> build\lib.win-amd64-3.6\MySQLdb
    copying MySQLdb\times.py -> build\lib.win-amd64-3.6\MySQLdb
    creating build\lib.win-amd64-3.6\MySQLdb\constants
    copying MySQLdb\constants\__init__.py -> build\lib.win-amd64-3.6\MySQLdb\constants
    copying MySQLdb\constants\CR.py -> build\lib.win-amd64-3.6\MySQLdb\constants
    copying MySQLdb\constants\FIELD_TYPE.py -> build\lib.win-amd64-3.6\MySQLdb\constants
    copying MySQLdb\constants\ER.py -> build\lib.win-amd64-3.6\MySQLdb\constants
    copying MySQLdb\constants\FLAG.py -> build\lib.win-amd64-3.6\MySQLdb\constants
    copying MySQLdb\constants\REFRESH.py -> build\lib.win-amd64-3.6\MySQLdb\constants
    copying MySQLdb\constants\CLIENT.py -> build\lib.win-amd64-3.6\MySQLdb\constants
    running build_ext
    building '_mysql' extension
    error: Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools

    ----------------------------------------

  Failed building wheel for mysql-python
Command "c:\users\chris\anaconda3\python.exe -u -c "import setuptools, tokenize;__file__='C:\\Users\\Chris\\AppData\\Local\\Temp\\pip-install-awiwvfpz\\mysql-python\\setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record C:\Users\Chris\AppData\Local\Temp\pip-record-8_h5zt5b\install-record.txt --single-version-externally-managed --compile" failed with error code 1 in C:\Users\Chris\AppData\Local\Temp\pip-install-awiwvfpz\mysql-python\
You are using pip version 19.0.1, however version 19.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

Requirement already satisfied: mysqlclient in c:\users\chris\anaconda3\lib\site-packages (1.4.2.post1)

You are using pip version 19.0.1, however version 19.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [27]:
mlb_date_clean.to_sql(
    name='statcast', con=engine,
    if_exists='append', index=True)

In [28]:
batter_id = pd.read_csv("bat_id_clean.csv", low_memory = False)

batter_id = batter_id.drop(columns = ['Unnamed: 0'])
batter_id.head()

   batter_id team first_name last_name
0     592192  OAK       Mark     Canha
1     620439  OAK   Franklin   Barreto
2     621566  OAK       Matt     Olson
3     518960  OAK   Jonathan    Lucroy
4     476704  OAK        Jed    Lowrie

In [29]:
batter_id.to_sql(
    name='bat_id', con=engine,
    if_exists='append', index=True)

In [30]:
pitcher_id = pd.read_csv("pitcher_id.csv", low_memory = False)
pitcher_id.head()

  pitch_team          player_name  pitcher
0        LAA      Parker Bridwell   592170
1        LAA       Junichi Tazawa   547749
2        LAA       Williams Jerez   605301
3        LAA  Odrisamer Despaigne   628333
4        LAA       Matt Shoemaker   533167

In [31]:
pitcher_id.to_sql(
    name='pitch_id', con=engine,
    if_exists='append', index=True)